{
	debug
	# auto_https disable_redirects
	admin 0.0.0.0:2019
	servers {
		metrics
	}
	# log {
        # output file /var/log/caddy/access.log
        # format json
    # }
}

stockbuddy.pl http://localhost:7777 {
	reverse_proxy frontend:3000
	# metrics /metrics
}

streampai.pl http://localhost:7778 {
    respond "Hello mate"
	metrics /metrics
}
